@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;600&family=Ubuntu:wght@700&display=swap");

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pin-icon:hover {
  transform: scale(1.5);
}
