@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;600&family=Ubuntu:wght@700&display=swap");

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pin-icon:hover {
  transform: scale(1.5);
}

/* LANDING PAGE STYLES */
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

p,
a,
label {
  font-family: "Mukta", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
